	<style>
		{
			box-sizing: border-box;
        }
        li
        {
            float: right;
            display:inline;
            padding: 6px;
            font-family: monospace;
        }
        li a
        {
            color:white;
            text-decoration: none;
        }
        li a:hover
        {
            text-decoration: underline;
        }
/* Style the header */
        header 
        {
         	background-color: #666;
         	padding: 25px;
         	text-align: center;
         	font-size: 20px;
         	color: white;
        }
        hr
        {
            border: 2px solid
            width:50%;
        }
        article
        {
        	float: center;
            padding: 20px;
            width: 100%;
            background-color: #f1f1f1;
            height: 200px; /* only for demonstration, should be removed */
        }
/* Clear floats after the column2 */
        section:after 
        {
         	padding-top: 50px
            content: "";
            display:none;
            clear: both;
        }
/* Style the footer */
        footer 
        {
        	background-color: #777;
        	padding: 10px;
        	text-align: center;
        	color: white;
        }
</style>